<div class="row bootstrap snippets center" style="padding-top:7%;display: inline-block;">
        <div>
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <% if(isLoggedInFlag){ %>
                        <form action="/projects/<%= project._id %>/comments" method="POST">
                            <textarea class="form-control" placeholder="Add a comment to <%= project.name %>" rows="3" name="commentText"></textarea>
                            <br>
                            <button>Submit</button>
                            <div class="clearfix">
                        </form>

                        <% }else{ %>

                            <p>Please login to post a comment!</p>

                        <% } %>
                        
                        
                        <hr>
                        <ul class="media-list">

                        <% project.comments.forEach((comment) => { %>
                        
                            <li class="media commentContainer">
                                <a href="/users/<%= comment.author._id %>"  class="pull-left">
                                    <img src="<%=comment.author.avatar%>" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <small class="text-muted"><%= comment.timePosted.toLocaleDateString("en-US") %></small>
                                    </span>
                                    <strong class="text-success">@<%= comment.author.username %></strong>
                                    <p>
                                        <%= comment.text %> </a>.
                                    </p>
                                    <div>
                                        <form action="/projects/<%= project._id %>/comments/<%= comment._id %>/upvote" method="POST" style="display:inline-block">
                                            <button style="display:inline-block"><strong>+</strong></button>
                                        </form>
                                        <form action="/projects/<%= project._id %>/comments/<%= comment._id %>/downvote" method="POST" style="display:inline-block">
                                            <button style="display:inline-block"><strong>-</strong></button>
                                        </form>
                                        <span>Comment Rank: <%= comment.rating %></span>
                                </div>
                            </li>
                        
                        <% }); %>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>