
<% include partials/sourceHeader %>

<h1 style = "text-align: center;">Search for a project</h1>

<form action="/search" method="POST" style = "text-align: center; padding-bottom: 3%;">
  <input type="text" placeholder="Project" name="projectSearch"/>
  <button>Search</button>
</form>

<h3>Filter by SDG Goal:</h3>
<form method="POST" action="/explore" id="categoryForm">
  <div class="form-group">
    <select class="form-control" id="categorySelect" name="sdgCategory">
      <option value="" selected disabled>Select a category</option>
      <% sdgCategories.forEach((category) => { %>
        <option><%= category %></option>
      <% }); %>
    </select>
  </div>
</form>

<main class="main-area">

      <div class="grid-container">
        <% var i = 0;
          projects.forEach((project) => { %>
          <div class="grid-item" style = "grid-column: <%=i%3+1%>;">
            <div class="card h-100">
            <div class = "parent">
              <img class="imgexplore" src = "<%= project.coverPath %>"/>
             <img class="SDG" src = "icons/<%= project.sdgCategory %>.png"/>
            </div>
            <div class="card-body">
            <h4 class="card-title">
              <a href="projects/<%= project._id %>"><%= project.name %></a>
            </h4>
            <div class = " row money-goal">
                <p style = "text-align: center;font-size:24px;">$<%= project.earnings %> out of $<%= project.goal %></p>
                <div class="progress indexProgressBar">
                        <div class="progress-bar" role="progressbar" style="width: <%= project.earnings/project.goal * 100 %>%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <p class="card-text"><%= project.description.substring(0,200) %>...</p>
            </div>
        </div>
          </div>
          <%
          i++; }); %>

        </div>


</main>



<% include partials/sourceFooter %>
