
<% include partials/sourceHeader %>

<h1 style = "text-align: center;">Search for a project</h1>

<form action="/search" method="POST" style = "text-align: center; padding-bottom: 3%;">
  <input type="text" placeholder="Project" name="projectSearch"/>
  <button>Search</button>
</form>

<main class="main-area">

      <div class="grid-container">
        <% for(var i = 0; i < 6; i++){ %>
          <div class="grid-item" style = "grid-column: <%=i%3+1%>;">
            <div class="card">
              <div class = "parent">
                  <img class="imgexplore" src = "<%= projects[i].coverPath %>"/>
                  <img class="SDG" src = "sdg_health.PNG"/>
              </div>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="projects/<%= projects[i]._id %>"><%= projects[i].name %></a>
                </h4>
                <p class="card-text"><%= projects[i].description.substring(0,200) %>...</p>
              </div>
            </div>
          </div>
          <% }; %>

        </div>


</main>



<% include partials/sourceFooter %>
