
<% include partials/sourceHeader %>
<h1><img src="<%= user.avatar%>" width="90" alt="" class="img-circle">  <%= user.username %></h1>
<hr style="border: 3px solid;">
<h2>Total Money Contributed: $ <%= user.contributed %></h2>
<hr>
<div class="userMetric" onclick="toggle_visibility('proj_create');"><h3>Projects Created <i class="fa fa-caret-down"></i> </h3></div>
<div id="proj_create" style="display:none;">
  <hr>
  <% user.ownedProjects.forEach((project) => { %>
    <div class="userMetricElement"> <a href="projects/<%= project._id %>"><%= project.name %></a> </div>
  <% }); %>
</div>
<hr>
<!-- <div class="userMetric" onclick="toggle_visibility('proj_contrib');"><h3>Projects Contributed Towards <i class="fa fa-caret-down"></i> </h3></div>
<div id="proj_contrib" style="display:none;">
  <hr>
  <div class="userMetricElement">Project Name 1</div>
  <div class="userMetricElement">Project Name 2</div>
  <div class="userMetricElement">Project Name 3</div>
</div>
<hr> -->
<div class="userMetric" onclick="toggle_visibility('proj_follow');"><h3>Projects Followed <i class="fa fa-caret-down"></i> </h3></div>
<div id="proj_follow" style="display:none;">
  <hr>
  <% user.followedProjects.forEach((project) => { %>
    <div class="userMetricElement"> <a href="projects/<%= project._id %>"><%= project.name %></a> </div>
  <% }); %>
</div>
<hr>

<div class="userMetric" onclick="toggle_visibility('proj_comments');"><h3>Comments Made <i class="fa fa-caret-down"></i> </h3></div>
<div id="proj_comments" style="display:none;">
  <hr>
 <!--  <div class="userMetricElement">Comment 1</div>
  <div class="userMetricElement">Comment 2</div>
  <div class="userMetricElement">Comment 3</div> -->
  <% include partials/userComments %>
</div>

<hr>
    


<script type="text/javascript">

    function toggle_visibility(id) {
       var x = document.getElementById(id);
       if(x.style.display == 'block')
          x.style.display = 'none';
       else
          x.style.display = 'block';
    }
</script>

<% include partials/sourceFooter %>



